<?xml version="1.0" encoding="UTF-8"?>
<!-- Replace the 3 asterisks with the password -->
<Passwords>
    <root_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></root_password>
    <sapadm_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></sapadm_password>
    <master_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></master_password>
    <sapadm_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></sapadm_password>
    <password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></password>
    <system_user_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></system_user_password>
    <lss_user_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></lss_user_password>
    <lss_backup_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></lss_backup_password>
    <streaming_cluster_manager_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></streaming_cluster_manager_password>
    <ase_user_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></ase_user_password>
    <org_manager_password><![CDATA[{{ HANA_MASTER_PASSWORD }}]]></org_manager_password>
</Passwords>
