---

- hosts: localhost
  become: true
  become_user: root
  pre_tasks:
    - name: Include output JSON
      include_vars:
        file: "/var/lib/waagent/custom-script/download/0/sapansible/ansible/output.json"
        name: output

    - name: Create dictionary with HANA database inforamtion from output.JSON
      set_fact:
        hana_database: "{{ item }}"
      loop: "{{ output.databases|flatten(levels=1) }}"
      when: item.platform == 'HANA'

    - name: Create dictionary with APP inforamtion from output.JSON
      set_fact:
        app_platform: "{{ item }}"
      loop: "{{ output.application|flatten(levels=1) }}"

# Inventory validation for HANA VMs
- hosts: hanadbnodes
  become: true
  become_user: root
  roles:
    - role: inventory-validation
      when:
        - hana_database.size != "LargeInstance"


      

# Prepare os, disks and mount points on Hana Database servers
- hosts: hanadbnodes
  become: true
  become_user: root
  vars_files:
    - "/var/lib/waagent/custom-script/download/0/sapansible/ansible/vars/packages.yml"
  pre_tasks:
    - name: Include SAP HANA DB sizes
      include_vars:
        file: "{{ configs_path }}/hdb_sizes.json"
        name: hdb_sizes
  max_fail_percentage: 0
  roles:
    - role: os-preparation
    - role: os-disk-setup
    - role: enable-prometheus
      when:
        - output.options.enable_prometheus == True
        - ansible_facts['distribution_file_variety'] == 'SUSE'
        - ansible_facts['distribution_version'] is regex("(12\.[3-5]|15\.\d)")
        - hana_database.size != "LargeInstance"



# Prepare os, disks and mount points on SCS server
- hosts: scs
  become: true
  become_user: root
  vars:
    tier: preparation
  vars_files:
    - "vars/packages.yml"
  pre_tasks:
    - name: Include SAP APP sizes
      include_vars:
        file: "{{ configs_path }}/app_sizes.json"
        name: app_sizes
  max_fail_percentage: 0
  roles:
    - role: os-preparation-app
    - role: disk-setup
    

# Prepare SAP USERS
- hosts: scs1
  become: true
  become_user: root
  vars:
    tier: preparation
    target_media_location: "/usr/sap/install"
    sapadm_uid: 2100
    sapsys_gid: 2000
    app_sid: "S4SID"
    scs_hostname: "{{ ansible_hostname }}"
    scs_instance_number: "00"
    sidadm_uid: 2000
  roles:
    - role: sap-users
    - role: nfs-server-setup


# Mount Azure File share on all linux jumpboxes including rti
- hosts: scs
  become: true
  become_user: root
  roles:
    - role: mount-azure-files
      when: output.software.storage_account_sapbits.file_share_name != ""


# Mount Azure File share on all linux jumpboxes including rti
- hosts: localhost:jumpboxes_linux
  become: true
  become_user: root
  roles:
    - role: mount-azure-files
      when: output.software.storage_account_sapbits.file_share_name != ""

# Mount Azure File share on all hanadbnodes. When the scenario is Large Instance, this task will be skipped
- hosts: hanadbnodes
  become: true
  become_user: root
  roles:
    - role: mount-azure-files
      when:
        - output.software.storage_account_sapbits.file_share_name != ""
        - hana_database.size != "LargeInstance"

# Download SAP Media on Azure File Share
- hosts: localhost
  become: true
  become_user: root
  roles:
    - role: sap-media-download

# Only SLES support SBD fencing
- hosts: iscsi
  become: true
  become_user: root
  roles:
   - role: iscsi-target-install
     when:
       - hana_database.size != "LargeInstance"
       - hana_database.high_availability
       - hostvars[hana_database.nodes[0].ip_admin_nic].ansible_os_family == 'Suse'

# Hana DB components install
- hosts: hanadbnodes
  become: true
  become_user: root
  any_errors_fatal: true
  vars:
    sapadm_uid: 2100
    sapsys_gid: 2000
    sidadm_uid: 2000
  vars_files:
    - "vars/ha-packages.yml"
  pre_tasks:
    - name: Include SAP HANA DB sizes
      include_vars:
        file: "{{ configs_path }}/hdb_sizes.json"
        name: hdb_sizes
  roles:
    - role: hdb-server-install
    



#Linux jumpboxes components install
- hosts: jumpboxes_linux
  become: true
  become_user: root
  roles:
    - role: linux-jumpboxes-install

# Windows jumpboxes components install
#- hosts: jumpboxes_windows
#  become: true
#  become_user: ADMIN_USER
#  roles:
#    - role: windows-jumpboxes-install
