---

- name: Create dictionary with installation variant for HANA Client 
  set_fact:
    client: "{{ item }}"
  loop: "{{ components }}"
  when: item.component == 'hana_client'

- name: Install HANA Client 
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ hana_client_install_path }}"

- name: copy sapcar
  shell: cp {{ azure_files_mount_path }}/Archives/SAPCAR_1010-70006178.EXE {{ hana_client_install_path }}/SAPCAR_1010-70006178.EXE

- name: copy Hana Client
  shell: cp {{ azure_files_mount_path }}/Archives/IMDB_CLIENT20_007_26-80002082.SAR {{ hana_client_install_path }}/IMDB_CLIENT20_007_26-80002082.SAR

- name: add permission sapcar
  shell: chmod +x {{ hana_client_install_path }}/SAPCAR_1010-70006178.EXE

- name: extract client
  shell: {{ hana_client_install_path }}/SAPCAR_1010-70006178.EXE -manifest {{ hana_client_install_path }}/SIGNATURE.SMF -xf {{ hana_client_install_path }}/IMDB_CLIENT20_007_26-80002082.SAR



- name: Install Hana Client on Linux 
  shell: "{{ hana_client_install_path }}/hdbinst -a client -b --hostname={{ ansible_hostname }} --path={{ hana_client_install_path }}"
  loop: "{{ client.variants|flatten(levels=1) }}"
  when: item.os == 'LINUX'
